<div class="uk-section uk-section-primary uk-position-small uk-position-cover uk-flex uk-flex-around uk-flex-middle uk-flex-column">
    <div class="home-option uk-container">
        <a routerLink="/notebook" class="uk-link-muted uk-flex uk-flex-middle uk-flex-column">
            <h1>Mi cuaderno</h1>
            <span uk-icon="icon: file-edit; ratio: 5"></span>
        </a>
    </div>
    <div class="home-option uk-container">
        <a routerLink="/calendar" class="uk-link-muted uk-flex uk-flex-middle uk-flex-column">
            <h1>Mi calendario</h1>
            <span uk-icon="icon: calendar; ratio: 5"></span>
        </a>
    </div>
</div>
