.task-description {
    cursor: pointer;
}

.task-done {
    text-decoration: line-through;
}

@media (min-width: 640px) {
    .date-filter-button-edit-text::after {
        content: "Editar tareas";
    }
    
    .date-filter-button-filter-text::after {
        content: "Filtrar por fecha";
    }

    .add-task-button::after {
        content: "Añadir tarea";
    }
}