<div
    class="uk-section uk-section-small uk-section-primary"
    uk-sticky="animation: uk-animation-slide-top"
    id="headerSection"
>  
    <div class="uk-container">
        <div class="uk-child-width-expand@s" uk-grid>
            <form
                class="uk-search uk-search-default"
                [formGroup]="searchFormGroup"
            >
                <span class="uk-search-icon-flip" uk-search-icon></span>
                <input
                    type="search"
                    class="uk-search-input"
                    placeholder="Buscar tareas (por descripción, lugar o etiqueta)"
                    (input)="filterTasksByString(searchInput.value)"
                    #searchInput
                >
            </form>
            <div class="uk-flex uk-flex-center">
                <button
                    class="uk-button uk-button-default uk-button-small"
                    (click)="filterByDate()"
                >
                    {{ isDateFilterActive ? 'Editar tareas' : 'Filtrar por fecha' }}
                </button>
            </div>
            <div class="uk-flex uk-flex-center">
                <button
                    class="uk-button uk-button-default"
                    (click)="promptForNewTask()"
                >
                    Añadir tarea
                </button>
            </div>
        </div>
        <div class="uk-child-width-expand@s" uk-grid>
            <form
                *ngFor="let control of newTaskFormArray.controls; let i=index"
                class="new-task-form"
                [formGroup]="control"
            >
            <div class="uk-margin" uk-margin>
                <input
                    type="text"
                    class="uk-input uk-inline"
                    formControlName="description"
                    (keyup.esc)="clearTaskChanges()"
                    spellcheck="false"
                    placeholder="Escriba su tarea aquí"
                    #descriptionInput
                >
                <div class="uk-inline">
                    <span
                        class="uk-form-icon uk-form-icon-flip"
                        uk-icon="icon:  calendar"
                    ></span>
                    <ng2-flatpickr
                        formControlName="date"
                        addClass="uk-input"
                        placeholder="Fecha"
                    >                        
                    </ng2-flatpickr>
                </div>
                <div class="uk-inline">
                    <span
                        class="uk-form-icon uk-form-icon-flip"
                        uk-icon="icon:  clock"
                    ></span>
                    <ng2-flatpickr
                        formControlName="time"
                        addClass="uk-input"
                        [config]="{
                            enableTime: true,
                            noCalendar: true,
                            dateFormat: 'H:i',
                            time_24hr: false,
                            allowInput: true
                        }"
                        placeholder="Hora"
                    >                        
                    </ng2-flatpickr>
                </div>
                <div class="uk-inline">
                    <span
                        class="uk-form-icon uk-form-icon-flip"
                        uk-icon="icon:  location"
                    ></span>
                    <input
                        type="text"
                        class="uk-input"
                        formControlName="place"
                        spellcheck="false"
                        placeholder="Lugar"
                        appAutocomplete
                        [options]="places"
                        >
                </div>
                <div class="uk-inline">
                    <span
                        class="uk-form-icon uk-form-icon-flip"
                        uk-icon="icon:  tag"
                    ></span>
                    <input
                        type="text"
                        class="uk-input"
                        formControlName="tag"
                        spellcheck="false"
                        placeholder="Categoría"
                        appAutocomplete
                        [options]="tags"
                        >
                </div>
                <div></div>
                <button
                    class="uk-button uk-button-default"
                    type="button"
                    (click)="saveTask(control.value)"
                >
                    <span uk-icon="icon:  check" uk-tooltip="Guardar tarea">
                    </span>
                </button>
                <button
                    class="dismiss-new-task-button uk-button uk-button-default"
                    type="button"
                    (click)="clearTaskChanges()"
                >
                    <span uk-icon="icon:  close" uk-tooltip="No hacer nada">
                    </span>
                </button>
            </div>
        </form>
        </div>
    </div>
</div>
<div class="uk-section uk-section-muted">
    <div class="uk-container">
        <ul
            class="task-list uk-list uk-list-divider"
            *ngIf="!isDateFilterActive"
        >
            <li
                *ngFor="let task of filteredTasks"
                class="task-item uk-child-width-expand@s uk-text-center"
                uk-grid
            >
                <div
                    class="task-field task-description"
                    [ngClass]="{ 'task-done': task.done }"
                    (click)="toggleTaskAsDone(task)"
                    *ngIf="!isTaskInEditMode(task)"
                >{{ task.description }}</div>
                <div *ngIf="!isTaskInEditMode(task)" class="task-field">
                    {{ task.date | date: "dd/MM/yy" }}
                </div>
                <div *ngIf="!isTaskInEditMode(task)" class="task-field">
                    {{ task.time | date: "shortTime" }}
                </div>
                <div *ngIf="!isTaskInEditMode(task)" class="task-field">
                    {{ task.place }}
                </div>
                <div *ngIf="!isTaskInEditMode(task)" class="task-field">
                    <span
                        [ngClass]="{'uk-badge': task.tag }"
                    > {{ task.tag }}</span>
                </div>
                <form
                    *ngFor="let control of editTaskFormArray.controls; let i=index"
                    class="edit-task-form"
                    [formGroup]="control"
                >  
                    <input
                        *ngIf="isTaskInEditMode(task)"
                        type="text"
                        class="uk-input uk-inline"
                        formControlName="description"
                        spellcheck="false"
                        placeholder="Escriba su tarea aquí"
                    >
                    <div class="uk-inline" *ngIf="isTaskInEditMode(task)">
                        <span
                            class="uk-form-icon uk-form-icon-flip"
                            uk-icon="icon:  calendar"
                        ></span>
                        <ng2-flatpickr
                            formControlName="date"
                            addClass="uk-input"
                            placeholder="Fecha"
                            [config]="{
                                defaultDate: task.date ? task.date : null,
                                allowInput: true
                            }"
                            #editTaskDate
                        >                        
                        </ng2-flatpickr>
                    </div>
                    <div class="uk-inline" *ngIf="isTaskInEditMode(task)">
                        <span
                            class="uk-form-icon uk-form-icon-flip"
                            uk-icon="icon:  clock"
                        ></span>
                        <ng2-flatpickr
                            formControlName="time"
                            addClass="edit-task-time uk-input"
                            placeholder="Hora"
                            [config]="{
                                enableTime: true,
                                noCalendar: true,
                                dateFormat: 'H:i',
                                time_24hr: false,
                                allowInput: true,
                                defaultHour: task.time ? task.time.getHours() : null,
                                defaultMinute: task.time ? task.time.getMinutes() : null
                            }"
                            #editTaskTime
                        >                        
                        </ng2-flatpickr>
                    </div>
                    <div class="uk-inline" *ngIf="isTaskInEditMode(task)">
                        <span
                            class="uk-form-icon uk-form-icon-flip"
                            uk-icon="icon:  location"
                        ></span>
                        <input
                            type="text"
                            class="uk-input"
                            formControlName="place"
                            spellcheck="false"
                            placeholder="Lugar"
                            appAutocomplete
                            [options]="places"
                            >
                    </div>
                    <div class="uk-inline" *ngIf="isTaskInEditMode(task)">
                        <span
                            class="uk-form-icon uk-form-icon-flip"
                            uk-icon="icon:  tag"
                        ></span>
                        <input
                            type="text"
                            class="uk-input"
                            formControlName="tag"
                            spellcheck="false"
                            placeholder="Categoría"
                            appAutocomplete
                            [options]="tags"
                            >
                    </div>
                    <div></div>
                    <button
                        class="save-edited-task uk-button uk-button-default"
                        type="button"
                        (click)="editTask(task, control.value)"
                        *ngIf="isTaskInEditMode(task)"
                    >
                        <span uk-icon="icon:  check">
                            Guardar tarea actualizada
                        </span>
                    </button>
                </form>
                <div class="uk-flex uk-flex-around  uk-width-1-6@m">
                    <button
                        class="edit-task-button uk-button uk-button-text"
                        (click)="setFormControlForTask(task)"
                    >
                        <span
                            uk-icon="icon: pencil"
                            uk-tooltip="Editar tarea"
                        >
                        </span>
                    </button>
                    <button
                        class="uk-button uk-button-text"
                        (click)="showDeleteModalForTask(task)"
                    >
                        <span
                            uk-icon="icon:  trash"
                            uk-tooltip="Eliminar tarea"
                        >
                        </span>
                    </button>
                </div>
            </li>
        </ul>
        <ul
            class="task-list-by-date uk-list divider"
            *ngIf="isDateFilterActive"
        >
            <li *ngFor="let date of dates">
                <h4>{{ date | date:'fullDate' }}</h4>
                <div *ngFor="let task of filteredTasks | filterByDate: date">
                    <span
                        class="task-description"
                        [ngClass]="{ 'task-done': task.done }"
                        (click)="toggleTaskAsDone(task)"
                    >
                        {{ task.description }}
                    </span>
                    <span *ngIf="task.time">
                        a las {{ task.time | date: 'shortTime' }}
                    </span>
                    <span *ngIf="task.place">
                        en {{ task.place }}
                    </span>
                    <span *ngIf="task.tag">( Categoría: 
                        <span
                            [ngClass]="{'uk-badge': task.tag }"
                        > {{ task.tag }}</span>
                        )
                    </span> 
                </div>
            </li>
            <li>
                <h4>Tareas sin fecha</h4>
                <div *ngFor="let taskWithoutDate of filteredTasks | filterByNoDate">
                    <span
                        class="task-description"
                        [ngClass]="{ 'task-done': taskWithoutDate.done }"
                        (click)="toggleTaskAsDone(taskWithoutDate)"
                    >
                        {{ taskWithoutDate.description }}
                    </span>
                    <span *ngIf="taskWithoutDate.time">
                        a las {{ taskWithoutDate.time | date: 'shortTime' }}
                    </span>
                    <span *ngIf="taskWithoutDate.place">
                        en {{ taskWithoutDate.place }}
                    </span>
                    <span *ngIf="taskWithoutDate.tag">( Categoría: 
                        <span
                            [ngClass]="{'uk-badge': taskWithoutDate.tag }"
                        > {{ taskWithoutDate.tag }}</span>
                        )
                    </span>       
                </div>
            </li>
        </ul>
    </div>
</div>
