/* You can add global styles to this file, and also import other style files */

@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

@import "uikit/src/scss/uikit-theme.scss";


@import "autocompleter/autocomplete.css";

.autocomplete {
    font: inherit;
    border: none;
}

.autocomplete > div:hover:not(.group),
.autocomplete > div.selected {
    background: $base-selection-background;
    color: $base-selection-color;
    cursor: pointer;
}